{% extends "base.html.twig" %}
{% block body %}
    <h2>Profile</h2>
    <table>
        <tr>
            <td><i>First Name</i></td>
            <td>{{ app.user.firstName }}</td>
        </tr>
        <tr>
            <td><i>Last Name</i></td>
            <td>{{ app.user.lastName }}</td>
        </tr>
        <tr>
            <td><i>Registration Date</i></td>
            <td>{{ app.user.createdAt |date("m.d.Y") }}</td>
        </tr>
    </table>
    {% set logout = path('app_logout') %}
    <button onclick="location.href='{{ logout }}'" type="button">Sign Out</button>
{% endblock %}